/* gutenberg styles */
.is-style-semplice-img-fullwidth {
	width: 100vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	max-width: 100%;
}
.is-style-semplice-img-fullwidth > div,
.is-style-semplice-img-fullwidth img {
	width:  100% !important;
	max-width: inherit !important;
	max-height: initial !important;
}
.is-style-semplice-img-oversize-1 img {
	width: calc(100% + 200px) !important;
	margin-left: -100px;
}
.is-style-semplice-img-oversize-2 img {
	width: calc(100% + 400px) !important;
	margin-left: -200px;
}
.is-style-semplice-img-oversize-3 img {
	width: calc(100% + 600px) !important;
	margin-left: -300px;
}
.is-style-semplice-img-oversize-4 img {
	width: calc(100% + 800px) !important;
	margin-left: -400px;
}
.is-style-semplice-img-oversize-1 > div {
	max-width: calc(100% + 200px) !important;
}
.is-style-semplice-img-oversize-2 > div {
	max-width: calc(100% + 400px) !important;
}
.is-style-semplice-img-oversize-3 > div {
	max-width: calc(100% + 600px) !important;
}
.is-style-semplice-img-oversize-4 > div {
	max-width: calc(100% + 800px) !important;
}
.is-style-semplice-img-oversize-1 img,
.is-style-semplice-img-oversize-2 img,
.is-style-semplice-img-oversize-3 img,
.is-style-semplice-img-oversize-4 img {
	max-width: inherit !important;
}
.is-style-semplice-img-oversize-1 > div,
.is-style-semplice-img-oversize-2 > div,
.is-style-semplice-img-oversize-3 > div,
.is-style-semplice-img-oversize-4 > div {
	width:  100% !important;
	max-height: initial !important;
}